<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Tarun Gupta">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/src/style.css">
    </head>
    <body>
            <nav class="navbar navbar-expand-md fixed-top">
                <div style="text-align: center; color: white;"><a href="" style="color: white; cursor: pointer;">Tarun Gupta</a></div>
                <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main-navigation">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.co,/tarung10/">Repos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/articles">Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
            {{ content }}
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                            <p>Follow Me :
                                <br><a href="https://github.com/tarung10/"><img class="follow" src="/src/images/github.png" alt="Github"></a>
                                &nbsp;&nbsp;&nbsp;<a href="https://gitlab.com/tarung10/"><img class="follow" src="/src/images/gitlab.png" alt="Gitlab"></a>
                                &nbsp;&nbsp;&nbsp;<a href="https://www.instagram.com/tarung10/"><img class="follow" src="/src/images/instagram.jpg" alt="Instagram"></a>
                                &nbsp;&nbsp;&nbsp;<a href="https://www.telegram.com/tarung10/"><img class="follow" src="/src/images/telegram.png" alt="Telegram"></a>
                                &nbsp;&nbsp;&nbsp;<a href=""><img class="follow" src="/src/images/youtube.png" alt="Youtube"></a>
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <h6 class="text-uppercase font-weight-bold">Contact</h6>
                            <p>Tarun Gupta  
                                <br>-tarung10
                                <br>&nbsp;&nbsp;--Linux Development
                                <br>&nbsp;&nbsp;--Software Development
                                <br>&nbsp;&nbsp;--Web Development
                                <br>&nbsp;&nbsp;--App Development<br>
                                <br><a href="mailto:tarun08007@gmail.com">Gmail</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center">© 2020 Copyright: tarung10.github.io</div>
            </footer>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="/src/main.js"></script>
    </body>
</html>